#container {
    border: 2px black dotted;
    width: 500px;
    height: 300px;
    position: relative;
}

#box1 {
    background-color: yellowgreen;
    width: 200px;
    height: 60px;
}
#box2 {
    background-color: olivedrab;
    width: 200px;
    height: 60px;
    position: absolute;
    right:0px;
    top: 0px;
}

#box3 {
    background-color: pink;
    width: 200px;
    height: 60px;
    position: absolute;
    bottom:0px;
    left: 0px;
}
#box4 {
    background-color: purple;
    width: 200px;
    height: 60px;
    position: absolute;
    right:0px;
    bottom: 0px;
}
