#container {
    border: 2px black dotted;
    width: 500px;
    height: 350px;
}

#box1 {
    background-color: yellow;
    width: 200px;
    height: 60px;
}
#box2 {
    background-color: orange;
    width: 200px;
    height: 60px;
    position: relative;
    bottom: 45px;
    left: 30px;
    z-index: -1;
}


#box3 {
    background-color: pink;
    width: 200px;
    height: 60px;
    position: relative;

}
#box4 {
    background-color: purple;
    width: 200px;
    height: 60px;
    position: relative;
    left: 205px;
    bottom: 60px;
}